{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
            <h1>
                List of Items in {{category.name}}
            <figure class="creator">
                <img src="{{ creator.picture}}">
                <figcaption>{{ creator.name }}</figcaption>
            </figure>   
            </h1>
        </div>
    </div>
    
    <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
    {% if messages %}
        
      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
        {% endwith %}
    </div>

<div class="row padding-top padding-bottom">
	<div>
		<div>
                <a href="{{url_for('newItem', category_id = category_id )}}">
                        <button class="btn btn-default" id="new-category-item">
                            Add Menu Item
                        </button>
                </a>
        </div>
</div>
    <div>
            <h2>Item List</h2>
                {% for i in items%}
                <a href="{{url_for('item',category_id=category_id,item_id=i.id)}}">
                <h3>{{i.name}}</h3>                
                <p><a href='{{url_for('editItem', category_id = category_id, item_id=i.id ) }}'>Edit</a> | 
                    <a href='{{url_for('deleteItem', category_id = category_id, item_id=i.id ) }}'>Delete</a></p>
                {% endfor %}
    </div>
{% endblock %}